<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center main-heading">
      <h2>One stop place to buy battery cells, battery pack BMS, motors, controllers, connectors etc..</h2>
    </div>
    <div class="col-md-12">
      <div class="item-wrap">
        <div class="row">
          <div class="col-md-12 item-heading">
            Battery packs and battery cells
          </div>
          <div class="col-md-3">
            <p>---------</p>
            <p>---------</p>
          </div>
          <div class="col-md-3">
            <p>---------</p>
            <p>---------</p>
          </div>
          <div class="col-md-3">
            <p>---------</p>
            <p>---------</p>
          </div>
          <div class="col-md-3">
            <p>---------</p>
            <p>---------</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="item-wrap">
        <div class="row">
          <div class="col-md-12 item-heading">
           Revolt motors
          </div>
          <div class="col-md-3">
              <p>---------</p>
              <p>---------</p>
          </div>
          <div class="col-md-3">
              <p>---------</p>
              <p>---------</p>
          </div>
          <div class="col-md-3">
              <p>---------</p>
              <p>---------</p>
          </div>
          <div class="col-md-3">
              <p>---------</p>
              <p>---------</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="item-wrap">
        <div class="row">
          <div class="col-md-12 item-heading">
          Controllers
          </div>
          <div class="col-md-3">
              <p>---------</p>
              <p>---------</p>
          </div>
          <div class="col-md-3">
              <p>---------</p>
              <p>---------</p>
          </div>
          <div class="col-md-3">
              <p>---------</p>
              <p>---------</p>
          </div>
          <div class="col-md-3">
              <p>---------</p>
              <p>---------</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="item-wrap">
        <div class="row">
          <div class="col-md-12 item-heading">
           Mics
          </div>
          <div class="col-md-3">
              <p>---------</p>
              <p>---------</p>
          </div>
          <div class="col-md-3">
              <p>---------</p>
            <p>---------</p>
          </div>
          <div class="col-md-3">
              <p>---------</p>
              <p>---------</p>
          </div>
          <div class="col-md-3">
              <p>---------</p>
              <p>---------</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>