<div class="container" id="bookYourRide">
  <div class="row">
    <div class="col-md-12">
      <h1> Choose from three different variants according to your need.</h1>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="item-wrap">
        <p>"Griggo Rosso"</p>
        <span class="left-align">Detailed Spec</span>
        <span class="right-align">more photos</span>
      </div>
      <div class="item-wrap">
        <table class="table">
          <tbody>
            <tr>
              <td rowspan="5" scope="row" style="vertical-align: middle;padding-right: 90px;">X</td>
            </tr>
            <tr>
              <td>Range -</td>
            </tr>
            <tr>
              <td>0-100 -</td>
            </tr>
            <tr>
              <td>Top Speed -</td>
            </tr>
            <tr>
              <td>Price -</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="item-wrap">
        <table class="table">
          <tbody>
            <tr>
              <td rowspan="5" scope="row" style="vertical-align: middle;padding-right: 90px;">XX</td>
            </tr>
            <tr>
              <td>Range -</td>
            </tr>
            <tr>
              <td>0-100 -</td>
            </tr>
            <tr>
              <td>Top Speed -</td>
            </tr>
            <tr>
              <td>Price -</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="item-wrap">
          <table class="table">
              <tbody>
                <tr>
                  <td rowspan="5" scope="row" style="vertical-align: middle;padding-right: 90px;">XXX</td>
                </tr>
                <tr>
                  <td>Range -</td>
                </tr>
                <tr>
                  <td>0-100 -</td>
                </tr>
                <tr>
                  <td>Top Speed -</td>
                </tr>
                <tr>
                  <td>Price -</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="item-wrap">
          <button class="left">Select Color</button>
          <button class="right">Book</button>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="item-wrap">
        <p>"City Rider"</p>
        <span class="left-align">Detailed Spec</span>
        <span class="right-align">more photos</span>
      </div>
      <div class="item-wrap">
          <table class="table">
            <tbody>
              <tr>
                <td rowspan="5" scope="row" style="vertical-align: middle;padding-right: 90px;">X</td>
              </tr>
              <tr>
                <td>Range -</td>
              </tr>
              <tr>
                <td>0-100 -</td>
              </tr>
              <tr>
                <td>Top Speed -</td>
              </tr>
              <tr>
                <td>Price -</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="item-wrap">
          <table class="table">
            <tbody>
              <tr>
                <td rowspan="5" scope="row" style="vertical-align: middle;padding-right: 90px;">XX</td>
              </tr>
              <tr>
                <td>Range -</td>
              </tr>
              <tr>
                <td>0-100 -</td>
              </tr>
              <tr>
                <td>Top Speed -</td>
              </tr>
              <tr>
                <td>Price -</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="item-wrap">
            <table class="table">
                <tbody>
                  <tr>
                    <td rowspan="5" scope="row" style="vertical-align: middle;padding-right: 90px;">XXX</td>
                  </tr>
                  <tr>
                    <td>Range -</td>
                  </tr>
                  <tr>
                    <td>0-100 -</td>
                  </tr>
                  <tr>
                    <td>Top Speed -</td>
                  </tr>
                  <tr>
                    <td>Price -</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="item-wrap">
            <button class="left">Select Color</button>
            <button  class="right">Book</button>
        </div>
    </div>
  </div>
</div>