<div class="container-fluid footer-wrap">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="footer-heading">
        Contact us
      </div>
      <div class="footer-content">
        <ul>
          <li><a href="javascript:void(0)">Phone</a></li>
          <li><a href="javascript:void(0)">Email</a></li>
          <li><a href="javascript:void(0)">Instagram</a></li>
          <li><a href="javascript:void(0)">Facebook</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="footer-heading">
        Career
      </div>
      <div class="footer-content">
        <ul>
          <li><a href="javascript:void(0)">Email</a></li>
          <li><a href="javascript:void(0)">Phone</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="footer-heading">
        Social sites
      </div>
      <div class="footer-content">
        <ul>
          <li><a href="javascript:void(0)">Facebook</a></li>
          <li><a href="javascript:void(0)">Instagram</a></li>
          <li><a href="javascript:void(0)">Linkedin</a></li>
          <li><a href="javascript:void(0)">Pinterest</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="footer-heading">
        Team/Partners
      </div>
      <div class="footer-content">
        <ul>
          <li><a href="javascript:void(0)">Tama's</a></li>
          <li><a href="javascript:void(0)">Lorem ipsum</a></li>
          <li><a href="javascript:void(0)">Lorem ipsum</a></li>
          <li><a href="javascript:void(0)">Lorem ipsum</a></li>
        </ul>
      </div>
    </div>
  </div>
 <div class="row">
   <div class="col-md-12">
     &copy; Copyright by ARCMotors 2018
   </div>
 </div>
</div>