<div class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="item active">
        <h1>Customer experince/review</h1>
    </div>
    <div class="item">
        <h1>Learn all about motorcycle</h1>
    </div>
    <div class="item">
        <h1>Us involved in social media</h1>
    </div>
    <div class="item">
        <h1>We value knowledge, not degrees.</h1>
    </div>
    
  </div>
</div>
<hr/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <p>"SEO" latest news on the EV industry</p>
    </div>
    <ol>
      <li>-------</li>
      <li>-------</li>
      <li>-------</li>
      <li>-------</li>
      <li>-------</li>
    </ol>
  </div>
  <hr/>
  <div class="row">
      <div class="col-md-12 text-center">
          <p>FAQ: Questions about motorcycles</p>
        </div>
        <ol>
          <li>-------</li>
          <li>-------</li>
          <li>-------</li>
          <li>-------</li>
          <li>-------</li>
        </ol>
  </div>
</div>